.pcontatos {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pcontatos-conteudo {
  flex: 1;
  padding-top: 80px; /* espaço caso a navegação seja fixa */
  padding-bottom: 2rem;
  background-color: #f9f9f9;
}